/*Importerat från google fonts*/
@import url('https://fonts.googleapis.com/css?family=Karla');

/*THIS IS THE ONE*/

body {
    font-family: 'Karla', sans-serif;
    background-image: url(../bilder/wow_tw.jpg);
    background-color: darkslateblue
}
a {
    color: inherit;
    text-decoration: none;
}
#h1div {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
h1 {
    color: white;
    text-align: center;
}
p {
    color: white;
    text-align: center;
    
}
#raidtimes {
    color: springgreen;
}
.plink {
    transition: all ease-in-out .2s;
}
.plink:hover {
    color: deeppink;
}
#wrapper {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -120px;
    border: 1px solid;
    border-color: white;
    border-radius: 20px;
    width: 250px;
}
.divs {
    width: 45px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: royalblue;*/
}
