/*Importerat från google fonts*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans);


/*THIS IS THE ONE*/


body {
    /*Detta är bakrundsbilden dess storlek osv*/
    background-color: indianred;
    background-image: url(../bilder/worgen_blurred.jpg);
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: top center initial;
    font-family: 'PT Sans', sans-serif; 
}
#wrapper {
    font-family: 'PT Sans', sans-serif;
    background-color:darkslategray;
    width:60%;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
}
#wrapper h1 {
    color: red;
    padding: 10px;

}
#wrapper p {
    color: wheat;
    padding: 10px;
}
.hov1 {
    padding: 0px;
    list-style: none;
    background-color: #4682B4;
    height: 50px;
    border-radius: 25px;
    border: 1px solid;
    line-height: 50px;
    transition: all ease-in-out .2s;
}
.hov1:hover {
    background-color: orangered;
}
#div {
    margin-left: auto; 
    margin-right: auto;   
    margin-top: 0px;
}
.divs {
    width: 15%;
    text-align:center;
    min-width: 100px;
}
a {
    color: inherit;
    text-decoration: none;
}
footer {
    font-family: 'PT Sans', sans-serif;
    margin-top: 130px;
    float: left;
    text-align: end;
}